/* reset style */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* our custom style */
body{
    background-color:#eeeeee 

}
 #title{
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size:2em;
     font-weight: 500px;
     color: #333333 ;
     
}
#title, p{
     text-align: center;
     color: #333333;
     letter-spacing:1px
}
#img-div{
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
  background:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#img{
   margin: 0 auto;
}

#img-caption{
    text-align: center;
}
#tribute-info{
    text-align: center;
}

.list{
  width: 600px;
  margin: 0 auto;
}

